@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:900px) {
    .welcomeheading{
        font-size: 60px !important;
    }
}
@media only screen and (max-width:600px){
    .welcomeheading{
        font-size: 40px !important;
    }
}
@media only screen and (max-width:400px){
    .welcomeheading{
        font-size: 30px !important;
    }
}
@keyframes moveup {
    0%{
        transform: translateY(80px);
        opacity: 0;
    }
    20%{
        transform: translateY(60px);
        opacity: .2;
    }
    40%{
        transform: translateY(40px);
        opacity: .4;
    }
    60%{
        transform: translateY(20px);
        opacity: .6;
    }
    80%{
        transform: translateY(10px);
        opacity: .8;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.passwords{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.passwords_header{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}
.welcomeheading{
    color: white;
    margin: 20px;
    font-size:100px;
}
.passwords_search{
    width: 50%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}
.passwords_search > form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.passwords_search > form > input{
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}
.submitpasscode{
    height: 300px;
    width: 300px;
    border: 1px solid #e7e7e7;
    padding-top: 20px;
    border-radius: 7px;
    box-shadow: 7px 10px 10px  #e7e7e7;
}
.submitpasscode > form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.submitpasscode > form >input{
    width: 80%;
    height: 15%;
    border-radius: 0;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.btn{
    height: 13%;
    width: 50%;
    border: none;
    outline: none;
    color: white;
    font-family: 'Poppins' sans-serif;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border-radius: 10px;
    font-weight:bolder;
    font-size: 2.3vh;
}
.btn:hover{
    transform: translateY(-5px);
    transition: 0.5s all;
}
.btn:active{
    transform: translateY(3px);
    transition: 0.5s all;
}
.passwords_body{
    padding: 7vh 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.card { 
    animation:  1.5s ease-out moveup 1 !important;
}
.detail_container{
    height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #B8B5FF;
    color: white;
    border: 1px solid #e7e7e7;
    padding-top: 20px;
    border-radius: 7px;
    box-shadow: 7px 10px 10px  #e7e7e7;
    margin-top:15px;
    transform-style: preserve-3d;
    transition: all 0.7s;
    padding: 20px;
    font: 4vh;
}
.card_front_face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.card_back_face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.detail_container:hover{
    transform: rotateY(180deg);
}
.container_card{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wraper{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.delbtn{
    height: 20% !important;
    width: 60% !important;
    font-size: 20px !important;
    color: white;
    font-family: 'Poppins' sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.delbtn:hover{
    transform: translateY(-3px);
    transition: all .5s;
}
.delbtn:active{
    transform: translateY(3px);
    transform: all .5s;
}
#video{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}
.contents{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 70vh;
}
.heading-password{
    font-size: 10vh;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    text-align: center;
    background-clip: text;
    width: 100vw;
    margin-top: 8vh;
}
.title-passwords{
    color: transparent;
    background-clip: text;
    text-transform: capitalize;
}
.bgvideo{
    position: absolute;
    z-index: -1;
}
.password_search_bar{
    width: 100%; 
}
.show_all_passwords{
    height: 7vh;
    width: 30%;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: white;
    font-size: 3vh;
}
.show_all_passwords:hover{
    transform: translateY(-3px);
    transition: .3s all;
}
.show_all_passwords:active{
    transform: translateY(3px);
    transition: all .3s;
}
.password-logout{
    margin-top:20px;
    
}